<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="shortcut icon" type="image/png"
	href="{% static 'images/favicon.ico' %}" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="description" content="Augmented mapping of time and space" />
<meta name="keywords" content="cesium,time,space,data" />
<title>Sample Cesium</title>
<script src="/static/Cesium/Cesium.js"></script>
<style>
@import url(/static/Cesium/Widgets/widgets.css);
@import url(/static/CesiumViewer.css);
</style>
</head>
<body>
	<div id="cesiumContainer"></div>
	<script src="/static/CesiumViewer.js"></script>
</body>
</html>